.amis-ButtonGroup {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-wrap: wrap;

  > .amis-Button {
    position: relative;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .amis-Button,
  .amis-Badge {
    @include hover {
      z-index: 1;
    }

    &:focus,
    &:active,
    &.active,
    &.is-active {
      z-index: 1;
    }
  }

  .amis-Badge {
    .amis-Badge-text,
    .amis-Badge-dot,
    .amis-Badge-ribbon,
    .amis-Badge-dot {
      z-index: 2;
    }
  }

  .amis-Button + .amis-Button,
  .amis-Button + .amis-ButtonGroup,
  .amis-Button + .amis-Badge,
  .amis-ButtonGroup + .amis-Button,
  .amis-ButtonGroup + .amis-ButtonGroup,
  .amis-Badge + .amis-Badge,
  .amis-Badge + .amis-Button {
    margin-left: calc(var(--ButtonGroup-borderWidth) * -1);
  }

  &--block {
    display: block;
  }
  &-button--active {
    z-index: 1;

    &.is-disabled {
      color: var(--text-color);
      border: var(--borderWidth) solid var(--borderColor);
    }
  }
}

.amis-ButtonToolbar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .amis-ButtonGroup {
    margin-left: var(--gap-xs);
    margin-top: var(--gap-xs);
    width: auto;
  }
}

.amis-ButtonGroup {
  > .amis-Button:first-child,
  > .amis-Badge .amis-Button {
    margin-left: 0;
  }

  // cxd的ButtonGroup的is-active和:active样式不一样，这里做个兼容
  .amis-Button--primary.is-active {
    color: var(--ButtonGroup--primary-isActive-color);
    background: var(--ButtonGroup--primary-isActive-bg);
  }

  > .amis-Button:not(:last-child),
  > .amis-ButtonGroup:not(:last-child) > .amis-Button,
  > .amis-Badge:not(:last-child) > .amis-Button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .amis-Button:not(:first-child),
  > .amis-ButtonGroup:not(:first-child) > .amis-Button,
  > .amis-Badge:not(:first-child) > .amis-Button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .amis-ButtonGroup:last-child > .amis-Button:not(:last-child) {
    border-top-right-radius: 0;
  }
}

.amis-ButtonGroup--vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .amis-Button,
  .amis-ButtonGroup {
    width: 100%;
  }

  > .amis-Button + .amis-Button,
  > .amis-Button + .amis-ButtonGroup,
  > .amis-Button + .amis-Badge,
  > .amis-ButtonGroup + .amis-Button,
  > .amis-ButtonGroup + .amis-ButtonGroup,
  > .amis-Badge + .amis-Badge,
  > .amis-Badge + .amis-Button {
    margin-top: calc(var(--ButtonGroup-borderWidth) * -1);
    margin-left: 0;
  }
  > .amis-Button:not(:last-child),
  > .amis-ButtonGroup:not(:last-child) > .amis-Button,
  > .amis-Badge:not(:last-child) > .amis-Button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .amis-Button:not(:first-child),
  > .amis-ButtonGroup:not(:first-child) > .btn,
  > .amis-Badge:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* 修正头尾的圆角 */
  > .amis-Button:first-child,
  > .amis-ButtonGroup:first-child > .amis-Button:first-child,
  > .amis-Badge:first-child > .amis-Button:first-child {
    border-top-right-radius: var(--borders-radius-3);
  }

  > .amis-Button:last-child,
  > .amis-ButtonGroup:last-child > .amis-Button:last-child,
  > .amis-Badge:last-child > .amis-Button:last-child {
    border-bottom-left-radius: var(--borders-radius-3);
  }
}

.amis-ButtonGroup--tiled {
  display: flex;

  .amis-Button,
  .amis-ButtonGroup,
  .amis-Badge {
    flex-grow: 1;
    text-align: center;
    .amis-Button {
      width: 100%;
    }
  }
}
