.prismui-ButtonGroup {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-wrap: wrap;

  > .prismui-Button {
    position: relative;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .prismui-Button,
  .prismui-Badge {
    @include hover {
      z-index: 1;
    }

    &:focus,
    &:active,
    &.active,
    &.is-active {
      z-index: 1;
    }
  }

  .prismui-Badge {
    .prismui-Badge-text,
    .prismui-Badge-dot,
    .prismui-Badge-ribbon,
    .prismui-Badge-dot {
      z-index: 2;
    }
  }

  .prismui-Button + .prismui-Button,
  .prismui-Button + .prismui-ButtonGroup,
  .prismui-Button + .prismui-Badge,
  .prismui-ButtonGroup + .prismui-Button,
  .prismui-ButtonGroup + .prismui-ButtonGroup,
  .prismui-Badge + .prismui-Badge,
  .prismui-Badge + .prismui-Button {
    margin-left: calc(var(--ButtonGroup-borderWidth) * -1);
  }

  &--block {
    display: block;
  }
  &-button--active {
    z-index: 1;

    &.is-disabled {
      color: var(--text-color);
      border: var(--borderWidth) solid var(--borderColor);
    }
  }
}

.prismui-ButtonToolbar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .prismui-ButtonGroup {
    margin-left: var(--gap-xs);
    margin-top: var(--gap-xs);
    width: auto;
  }
}

.prismui-ButtonGroup {
  > .prismui-Button:first-child,
  > .prismui-Badge .prismui-Button {
    margin-left: 0;
  }

  // prismui的ButtonGroup的is-active和:active样式不一样，这里做个兼容
  .prismui-Button--primary.is-active {
    color: var(--ButtonGroup--primary-isActive-color);
    background: var(--ButtonGroup--primary-isActive-bg);
  }

  > .prismui-Button:not(:last-child),
  > .prismui-ButtonGroup:not(:last-child) > .prismui-Button,
  > .prismui-Badge:not(:last-child) > .prismui-Button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .prismui-Button:not(:first-child),
  > .prismui-ButtonGroup:not(:first-child) > .prismui-Button,
  > .prismui-Badge:not(:first-child) > .prismui-Button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .prismui-ButtonGroup:last-child > .prismui-Button:not(:last-child) {
    border-top-right-radius: 0;
  }
}

.prismui-ButtonGroup--vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .prismui-Button,
  .prismui-ButtonGroup {
    width: 100%;
  }

  > .prismui-Button + .prismui-Button,
  > .prismui-Button + .prismui-ButtonGroup,
  > .prismui-Button + .prismui-Badge,
  > .prismui-ButtonGroup + .prismui-Button,
  > .prismui-ButtonGroup + .prismui-ButtonGroup,
  > .prismui-Badge + .prismui-Badge,
  > .prismui-Badge + .prismui-Button {
    margin-top: calc(var(--ButtonGroup-borderWidth) * -1);
    margin-left: 0;
  }
  > .prismui-Button:not(:last-child),
  > .prismui-ButtonGroup:not(:last-child) > .prismui-Button,
  > .prismui-Badge:not(:last-child) > .prismui-Button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .prismui-Button:not(:first-child),
  > .prismui-ButtonGroup:not(:first-child) > .btn,
  > .prismui-Badge:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* 修正头尾的圆角 */
  > .prismui-Button:first-child,
  > .prismui-ButtonGroup:first-child > .prismui-Button:first-child,
  > .prismui-Badge:first-child > .prismui-Button:first-child {
    border-top-right-radius: var(--borders-radius-3);
  }

  > .prismui-Button:last-child,
  > .prismui-ButtonGroup:last-child > .prismui-Button:last-child,
  > .prismui-Badge:last-child > .prismui-Button:last-child {
    border-bottom-left-radius: var(--borders-radius-3);
  }
}

.prismui-ButtonGroup--tiled {
  display: flex;

  .prismui-Button,
  .prismui-ButtonGroup,
  .prismui-Badge {
    flex-grow: 1;
    text-align: center;
    .prismui-Button {
      width: 100%;
    }
  }
}
