@layer prismui.tokens {
  :root,
  .AMISCSSWrapper {
    --prismui-palette-brand-400: #{$prismui-palette-brand-400};
    --prismui-palette-brand-500: #{$prismui-palette-brand-500};
    --prismui-palette-brand-600: #{$prismui-palette-brand-600};
    --prismui-palette-neutral-text-inverse: #{$prismui-palette-neutral-text-inverse};

    --prismui-color-brand-bg: var(--prismui-palette-brand-500);
    --prismui-color-brand-hover-bg: var(--prismui-palette-brand-600);
    --prismui-color-brand-active-bg: var(--prismui-palette-brand-400);
    --prismui-color-brand-border: var(--prismui-palette-brand-500);
    --prismui-color-brand-hover-border: var(--prismui-palette-brand-600);
    --prismui-color-brand-active-border: var(--prismui-palette-brand-400);
    --prismui-color-text-inverse: var(--prismui-palette-neutral-text-inverse);

    --prismui-Button-primary-bg: var(--prismui-color-brand-bg);
    --prismui-Button-primary-hover-bg: var(--prismui-color-brand-hover-bg);
    --prismui-Button-primary-active-bg: var(--prismui-color-brand-active-bg);
    --prismui-Button-primary-border-color: var(--prismui-color-brand-border);
    --prismui-Button-primary-hover-border-color: var(
      --prismui-color-brand-hover-border
    );
    --prismui-Button-primary-active-border-color: var(
      --prismui-color-brand-active-border
    );
    --prismui-Button-primary-color: var(--prismui-color-text-inverse);
    --prismui-Button-primary-hover-color: var(--prismui-color-text-inverse);
    --prismui-Button-primary-active-color: var(--prismui-color-text-inverse);
  }
}
