@if $prismui-theme-name != null {
  @layer prismui.tokens {
    [data-prismui-theme='#{$prismui-theme-name}'] {
      --prismui-palette-brand-400: #{$prismui-palette-brand-400};
      --prismui-palette-brand-500: #{$prismui-palette-brand-500};
      --prismui-palette-brand-600: #{$prismui-palette-brand-600};
      --prismui-palette-neutral-text-inverse: #{$prismui-palette-neutral-text-inverse};
      --prismui-color-brand-bg: var(--prismui-palette-brand-500);
      --prismui-color-brand-hover-bg: var(--prismui-palette-brand-600);
      --prismui-color-brand-active-bg: var(--prismui-palette-brand-400);
      --prismui-color-brand-border: var(--prismui-palette-brand-500);
      --prismui-color-brand-hover-border: var(--prismui-palette-brand-600);
      --prismui-color-brand-active-border: var(--prismui-palette-brand-400);
    }
  }

  @layer prismui.theme {
    [data-prismui-theme='#{$prismui-theme-name}'] {
      --prismui-theme-name: '#{$prismui-theme-name}';
    }
  }
}
