// PrismUI 默认主题
$prismui-theme-name: 'prismui';
$prismui-palette-brand-400: #144bcc;
$prismui-palette-brand-500: #2468f2;
$prismui-palette-brand-600: #528eff;
$prismui-palette-neutral-text-inverse: #fff;
@import '../properties';
@import '../components';
@import './prismui-variables';
$ns: 'prismui-';
@import './common';
@import '../tokens/legacy-palette-aliases';
