@use 'sass:math';

.prismui-Form {
  font-size: var(--Form-fontSize);
  position: relative;

  // 一般是快速编辑里的最后一个输入框
  &--quickEdit > div:last-of-type {
    margin-bottom: 0;
  }

  &--inline {
    > .prismui-Button {
      margin-bottom: calc(var(--Form-item-gap) / 2);
      margin-right: calc(var(--Form-item-gap) / 2);
    }

    > .prismui-PlainField {
      display: inline-block;
      padding-top: var(--Form-input-paddingY);
      // padding-bottom: var(--Form-input-paddingY);
    }
  }
}

.prismui-Form-static {
  min-height: var(--Form-input-height);
  font-size: var(--Form-static-fontSize);
  color: var(--Form-static-color);
  line-height: var(--Form-static-lineHeight);
  font-weight: var(--Form-static-fontWeight);
  &:not(.is-noPaddingY-static) {
    padding-top: var(--Form-label-paddingTop);
    padding-bottom: var(--Form-label-paddingTop);
  }
  margin-bottom: 0;
  word-break: break-word;

  .prismui-Form-item--inline > .prismui-Form-value > & {
    display: inline-block;
    vertical-align: top;
  }

  &--borderFull {
    border: var(--Form-input-borderWidth) solid var(--Form-input-borderColor);
    border-radius: var(--Form-input-borderRadius);
    padding: var(--Form-input-paddingY) var(--Form-input-paddingX);
  }

  &--borderHalf {
    border-bottom: var(--Form-input-borderWidth) solid
      var(--Form-input-borderColor);
    border-radius: var(--Form-input-borderRadius);
    padding: var(--Form-input-paddingY) var(--Form-input-paddingX);
  }
}

.prismui-Form-label {
  font-weight: var(--Form-item-fontWeight);
  line-height: var(--Form-item-lineHeight);
  margin-bottom: var(--Form-mode-default-labelGap);
  position: relative;
  font-size: var(--Form-item-fontSize);
  color: var(--Form-item-color);

  > span {
    position: relative;
    display: inline-block;
  }
}

.prismui-Form-star {
  color: var(--Form-item-star-color);
  font-size: var(--Form-item-star-size);
  line-height: 1;
}

.prismui-Form-feedback {
  color: var(--Form-feedBack-color);
  list-style-type: none;
  margin: 0;
  margin-top: var(--Form-feedBack-gap);
  padding: 0;
  font-size: var(--Form-feedBack-fontSize);
}

.prismui-Form-description {
  display: block;
  word-break: break-word;
  color: var(--Form-description-color);
  font-weight: var(--Form-description-fontWeight);
  line-height: var(--Form-description-lineHeight);
  margin-top: var(--Form-description-gap);
  font-size: var(--Form-description-fontSize);
}

.prismui-Form-hint {
  display: inline-block;
  margin-left: var(--gap-sm);
  padding-top: var(--Form-input-paddingY);
  vertical-align: top;
}

.prismui-Form-item {
  margin-bottom: var(--Form-item-gap);

  &:last-child {
    margin-bottom: 0;
    .prismui-Form-feedback {
      position: relative;
    }
  }

  .prismui-Grid-form > &:last-child {
    margin-bottom: 0;
  }

  .prismui-Form--inline > &--inline {
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .prismui-Form-remark {
    padding-top: var(--Form-label-paddingTop);
    vertical-align: top;
  }

  &--flex {
    margin: calc(var(--Form-item-gap) / 2);
    &:last-child {
      margin-bottom: calc(var(--Form-item-gap) / 2);
    }
  }

  &--inline {
    margin-right: var(--Form-mode-inline-item-gap);
  }

  &--horizontal {
    > .prismui-Form-label {
      text-align: var(--Form--horizontal-label-align);
      white-space: var(--Form--horizontal-label-whiteSpace);

      &--left {
        text-align: left;
      }
    }
  }

  &--horizontal-justify {
    justify-content: space-between;

    > .prismui-Form-label {
      text-align: var(--Form--horizontal-justify-label-align);
      white-space: var(--Form--horizontal-justify-label-whiteSpace);
    }
    > .prismui-Form-value {
      text-align: var(--Form--horizontal-justify-value-align);

      > * {
        text-align: initial;
      }
    }
  }

  &--normal {
    > .prismui-Form-label {
      display: block;
      width: var(--Form-mode-default-width);
      .prismui-Form-star {
        position: absolute;
        left: px2rem(-6px);
        top: px2rem(3px);
      }
    }
  }

  &.is-error > .prismui-Form-label {
    color: var(--Form-item-onError-color);
  }

  .prismui-Form-control--withSize {
    > .prismui-ResultBox {
      // 兼容 @media (min-width: 576px) .prismui-Form-control--sizeLg
      display: flex;
    }
  }
}

.prismui-Form-placeholder {
  color: var(--Form-input-placeholderColor);
}

.prismui-Form-caption {
  display: inline-block;
  line-height: var(--Form-input-height);
  height: var(--Form-input-height);
  margin-left: px2rem(10px);
}

@include media-breakpoint-up(sm) {
  .prismui-Form-label {
    display: inline-block;
    max-width: 100%;
  }

  .prismui-Form-control--sizeXs {
    // min-width: var(--Form-control-widthXs);
    // width: auto;
    width: var(--Form-control-widthXs);
    max-width: 100%;
    display: inline-block;
    vertical-align: top;

    // 非常难受，number 类型的 input 不能设置size
    &.prismui-NumberControl {
      width: var(--Form-control-widthXs);
    }
  }

  .prismui-Form-control--sizeSm {
    width: var(--Form-control-widthSm);
    max-width: 100%;
    display: inline-block;
    vertical-align: top;

    // 非常难受，number 类型的 input 不能设置size
    &.prismui-NumberControl {
      width: var(--Form-control-widthSm);
    }
  }

  .prismui-Form-control--sizeMd {
    width: var(--Form-control-widthMd);
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .prismui-Form-control--sizeLg {
    width: var(--Form-control-widthLg);
    max-width: 100%;
    display: inline-block;
    vertical-align: top;

    // 非常难受，number 类型的 input 不能设置size
    &.prismui-NumberControl {
      width: var(--Form-control-widthLg);
    }
  }

  .prismui-Form-item {
    &--horizontal {
      display: flex;
      flex-wrap: nowrap;

      > .prismui-Form-value {
        flex-basis: 0;
        flex-grow: 1;
        max-width: var(--Form--horizontal-value-maxWidth);
        min-width: var(--Form--horizontal-value-minWidth);
      }

      .prismui-Form-itemColumn--xs,
      .prismui-Form-itemColumn--sm,
      .prismui-Form-itemColumn--normal,
      .prismui-Form-itemColumn--auto,
      .prismui-Form-itemColumn--md,
      .prismui-Form-itemColumn--lg {
        flex-grow: unset;
        flex-basis: unset;
      }

      > .prismui-Form-label {
        padding-top: calc(
          (
              var(--Form-input-height) - var(--Form-item-lineHeight) *
                var(--Form-item-fontSize)
            ) / 2
        );
        word-break: break-word;
        line-height: var(--Form-item-lineHeight);
        margin: 0;
        margin-right: var(--Form--horizontal-label-gap);
        flex-shrink: 0;
        .prismui-Form-ellipsis {
          max-width: 100%;
          display: inline-block;
          .fr-view span{
            max-width: 100%;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .prismui-Remark{
            margin-top: px2rem(-24px);
          }
        }
        .prismui-Form-star {
          position: absolute;
          left: px2rem(-6px);
          top: px2rem(3px);
        }
      }

      .prismui-Form-itemColumn--xs {
        width: var(--Form--horizontal-label-widthXs);
      }

      .prismui-Form-itemColumn--sm {
        width: var(--Form--horizontal-label-widthSm);
      }

      .prismui-Form-itemColumn--normal {
        width: var(--Form--horizontal-label-widthBase);
      }

      .prismui-Form-itemColumn--md {
        width: var(--Form--horizontal-label-widthMd);
      }

      .prismui-Form-itemColumn--lg {
        width: var(--Form--horizontal-label-widthLg);
      }

      .prismui-Form-itemColumn--auto {
        width: auto;
      }

      @for $i from (1) through $Form--horizontal-columns {
        .prismui-Form-itemColumn--#{$i} {
          flex: 0 0 percentage(math.div($i, $Form--horizontal-columns));
          max-width: percentage(math.div($i, $Form--horizontal-columns));
          min-height: 1px;
        }
      }
      .prismui-Form-itemColumn--align-left {
        text-align: left;
      }
      .prismui-Form-itemColumn--align-right {
        text-align: right;
      }
    }

    &--inline {
      display: inline-block;
      vertical-align: top;

      > .prismui-Form-label {
        padding-top: calc(
          (
              var(--Form-input-height) - var(--Form-item-lineHeight) *
                var(--Form-item-fontSize)
            ) / 2
        );
        word-break: break-word;
        line-height: var(--Form-item-lineHeight);
        margin: 0;
        margin-right: var(--Form-mode-inline-label-gap);

        .prismui-Form-star {
          position: absolute;
          left: px2rem(-6px);
          top: px2rem(3px);
        }
      }

      > .prismui-Form-value {
        display: inline-block;
        vertical-align: top;

        > .prismui-Button--link {
          padding-top: var(--Form-label-paddingTop);
        }

        > .prismui-Form-control {
          vertical-align: top;
          display: inline-block;
        }

        > .prismui-Form-control.prismui-InputGroup {
          display: inline-flex;
        }

        > .prismui-TextControl--withAddOn {
          display: inline-flex;
        }
      }
    }
  }

  .prismui-Form-row {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(var(--Form-row-gutterWidth) / -2);
    margin-right: calc(var(--Form-row-gutterWidth) / -2);
    align-items: flex-start;

    > * {
      padding-left: calc(var(--Form-row-gutterWidth) / 2);
      padding-right: calc(var(--Form-row-gutterWidth) / 2);
    }
  }

  .prismui-Form-col {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
  }

  .prismui-Form-rowInner {
    display: flex;
    flex-wrap: nowrap;

    > .prismui-Form-label {
      display: inline-block;
      vertical-align: top;
      padding-top: var(--Form-label-paddingTop);
      padding-right: var(--Form-row-gutterWidth);
    }

    > .prismui-Form-control {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      min-height: 0;

      // &:not(.prismui-Form-control--withSize) {
      //   width: var(--Form-control-widthBase);
      // }
    }
  }

  .prismui-Form-flex {
    display: flex;
    // flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  .prismui-Form-flex-col {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
  }

  .prismui-Form-flexInner {
    display: flex;
    flex-wrap: nowrap;

    > .prismui-Form-label {
      display: inline-block;
      vertical-align: top;
      padding-top: var(--Form-label-paddingTop);
      margin-right: var(--Form-row-gutterWidth);
      .prismui-Remark {
        vertical-align: initial;
      }
    }

    > .prismui-Form-value {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      .prismui-Remark {
        vertical-align: initial;
        margin-left: 0;
      }
    }
  }

  .prismui-Form-flexInner--label-top {
    flex-direction: column;
    > .prismui-Form-value {
      flex-basis: auto;
    }
  }
  .prismui-Form-flexInner--label-left {
    > .prismui-Form-label {
      text-align: left;
      width: px2rem(76px);
      word-break: break-all;
    }
  }
  .prismui-Form-flexInner--label-right {
    > .prismui-Form-label {
      text-align: right;
      width: px2rem(76px);
      word-break: break-all;
    }
  }
}

.prismui-Form--debug {
  padding: var(--gap-sm);
  margin-bottom: var(--gap-sm);
  background-color: var(--colors-neutral-fill-11);
  border-radius: var(--borderRadius);
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
}

// .prismui-Form--quickEdit {
//   min-width: var(--Form-control-widthSm);
// }

.prismui-Form--column {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--Form-group-gutterWidth) / -2);
  margin-right: calc(var(--Form-group-gutterWidth) / -2);

  > .prismui-Form-item {
    flex-shrink: 0;
    flex-grow: 1;
    padding-left: calc(var(--Form-group-gutterWidth) / 2);
    padding-right: calc(var(--Form-group-gutterWidth) / 2);

    &.prismui-Form-item--inline {
      /* 设置columnCount之后，margin-right自动计算，如果设置了会导致flex自动wrap */
      margin-right: unset;
      display: inline-flex;

      & > .prismui-Form-value {
        min-width: 0;
        min-height: 0;
        flex: 1;

        /* 如果size设置了full就占满剩余空间 */
        .prismui-Form-control:first-child.is-full {
          width: -webkit-fill-available;
        }
      }
    }
  }
}

@for $i from 1 through 10 {
  .prismui-Form--column-#{$i} > .prismui-Form-item {
    width: 100 / $i * 1%;
  }

  .prismui-Form--column-#{$i} > [data-role*='container'] {
    flex: 100%;
    min-width: 0;
  }

  .prismui-Form--column-#{$i} > .prismui-Form-item:nth-last-child(-n + #{$i}) {
    margin-bottom: 0;
  }
}

/* 移动端样式调整 */
@include media-breakpoint-down(sm) {
  .prismui-Form {
    // &::before {
    //   position: absolute;
    //   box-sizing: border-box;
    //   content: ' ';
    //   pointer-events: none;
    //   right: 0;
    //   top: 0;
    //   left: 0;
    //   border-bottom: var(--Form-input-borderWidth) solid var(--borderColor);
    // }
  }

  .prismui-Combo-form {
    &::before {
      border-bottom: none;
    }
  }

  .prismui-Form-item {
    display: flex;
    // flex-wrap: wrap;
    margin-bottom: 0;
    padding: var(--Form-item-mobile-gap) 0;
    position: relative;

    &::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid var(--borderColor);
      transform: scaleY(0.5);
    }

    .prismui-InputGroup-addOn,
    .prismui-TextControl-addOn {
      border: none;
    }

    .prismui-Form-label {
      flex: 0 0 28%;
      max-width: 28%;
      min-height: 1px;
      text-align: left;
      padding-right: calc(var(--Form--horizontal-gutterWidth) / 2);
      overflow-wrap: break-word;
      margin-right: 0;
      margin-bottom: 0;

      & + .prismui-Form-item-controlBox {
        max-width: calc(100% - 28%);
      }

      > span {
        line-height: px2rem(32px);
        display: inline-block;

        .prismui-Form-star {
          top: px2rem(10px);
        }
      }
    }

    .prismui-Form-description {
      font-size: var(--fontSizeBase);
    }

    .prismui-TextControl-input {
      input {
        height: calc(var(--Form-input-lineHeight) * var(--Form-item-fontSize));
      }
    }

    .prismui-NumberControl {
      .prismui-Number {
        min-width: 0;
        min-height: 0;
        flex: 1;
        border: none;

        .prismui-Number-handler-wrap {
          display: none;
        }
      }

      .prismui-Select {
        flex: none;
        border: none;
      }
    }

    .prismui-Number--enhance {
      float: right;
      border: none;

      &-left-icon,
      &-right-icon {
        width: var(--inputNumber-enhance-mobile-icon-width);
        height: var(--inputNumber-enhance-mobile-icon-height);
        border: var(--Form-input-borderWidth) solid var(--borderColor);
        border-radius: var(--Form-input-borderRadius);
        user-select: none;

        svg.icon {
          top: 0;
        }
      }

      .prismui-Number-input {
        text-align: center;
      }

      .prismui-Number--enhance-input {
        width: var(--inputNumber-enhance-mobile-input-width);
        text-align: center;
      }

      .prismui-InputNumber-enhance-minus,
      .prismui-InputNumber-enhance-plus {
        width: var(--inputNumber-enhance-mobile-icon-inner-width);
        height: var(--inputNumber-enhance-mobile-icon-inner-height);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        .prismui-Number-input {
          padding-left: var(--inputNumber-enhance-default-paddingLeft);
          padding-right: var(--inputNumber-enhance-default-paddingRight);
        }
      }
    }

    .prismui-Form-value,
    .prismui-Form-control {
      flex: 1;
      flex-wrap: wrap;
      min-width: 0;

      .prismui-ColorPicker {
        > input {
          height: 100%;
        }
      }

      .prismui-ResultBox {
        height: 100%;

        .prismui-ResultBox-value-wrap {
          justify-content: flex-start;
          text-align: left;
          flex-wrap: nowrap; // 避免右侧下拉箭头换行
        }
      }

      &.is-disabled > .prismui-TextControl-input {
        background: transparent;
      }
    }
    .prismui-SelectControl.prismui-Form-control {
      overflow: hidden;
    }

    .prismui-Form-hint,
    .prismui-Form-remark,
    // .prismui-Form-static,
    .prismui-Form-group--hor .prismui-Form-item,
    .prismui-SwitchControl,
    .prismui-CheckboxControl,
    .prismui-RadiosControl,
    .prismui-CheckboxesControl {
      padding-top: 0;
      padding-bottom: 0;
    }

    .prismui-SwitchControl,
    .prismui-TransferControl,
    .prismui-TagControl,
    .prismui-CheckboxControl,
    .prismui-TreeSelectControl,
    .prismui-NestedSelectControl,
    .prismui-TabsTransferControl {
      padding-top: px2rem(3px);
    }

    &--inline {
      margin-right: 0;
    }

    .prismui-Form-item-controlBox {
      min-width: 0;
      min-height: 0;
      flex: 1;
      max-width: -moz-available;
      max-width: -webkit-fill-available;
      max-width: fill-available;
    }

    .prismui-Form-static {
      .prismui-Progress {
        margin-top: px2rem(3px);
      }

      .prismui-Field-quickEditBtn {
        vertical-align: baseline;
      }
    }

    .prismui-Form-group--horizontal .prismui-TextControl-input input {
      height: var(--Form-input-height);
    }

    .prismui-Form-hint {
      font-size: var(--fontSizeBase);
      margin-left: 0;
      color: var(--text--muted-color);
    }

    .prismui-TextControl-placeholder {
      top: 0;
    }

    .prismui-Form-static {
      min-height: 0;
    }

    .prismui-Form-description,
    .prismui-Form-feedback {
      font-size: var(--fontSizeBase);
    }

    .prismui-InputGroup {
      .prismui-Select,
      .prismui-InputGroup-btn .prismui-Button {
        border: none;
      }

      > .prismui-TextControl-input input {
        height: var(--Form-input-height);
      }
    }

    .prismui-ColorPicker {
      padding: 0;
      border: none;

      .prismui-ColorPicker-arrow {
        display: none;
      }
    }

    .prismui-Form-group--hor .prismui-Form-item .prismui-Button {
      margin-bottom: var(--gap-xs);
    }

    .prismui-TextareaControl > textarea,
    .prismui-Form-control > .prismui-TextControl-input,
    .prismui-Number-input,
    .prismui-ResultBox,
    .prismui-DateControl > .prismui-DatePicker,
    .prismui-TextControl.is-focused > .prismui-TextControl-input {
      border: none;
      padding: 0 var(--Form-input-paddingX) 0 0;
      box-shadow: none;
      border-radius: 0;

      &:hover,
      &:focus,
      &.active {
        border: none;
        outline: none;
        outline-style: none;
      }
    }

    .prismui-Form-control > .prismui-TextControl-input--multiple {
      padding: 0;
      min-height: 0;
    }
  }

  .prismui-Form-groupColumn {
    margin-bottom: 0;
  }

  .prismui-Form-item.is-placeholder::after {
    display: none;
  }

  // .prismui-Divider {
  //   display: none;
  // }

  .prismui-Tabs-pane {
    padding: 0;
  }

  .prismui-Form-item .prismui-Form-groupColumn > .prismui-Form-item {
    padding-bottom: var(--Form-input-paddingX);
  }

  .prismui-Form-groupColumn {
    position: relative;

    &::after {
      position: absolute;
      box-sizing: border-box;
      content: ' ';
      pointer-events: none;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: var(--Form-input-borderWidth) solid var(--borderColor);
    }
  }

  .prismui-Form-groupColumn:nth-last-of-type(1) {
    &::after {
      display: none;
    }
  }
  .prismui-Form-flexInner {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    > .prismui-Form-label {
      display: inline-block;
      vertical-align: top;
      padding-top: var(--Form-label-paddingTop);
      padding-right: var(--Form-row-gutterWidth);
      flex: 1;
      min-width: 0;
      padding-top: 0;
    }

    > .prismui-Form-control {
      flex: 1;
    }
  }

  .prismui-Form-flexInner--label-top {
    flex-direction: column;
    > .prismui-Form-label {
      margin-bottom: px2rem(10px);
    }
  }
  .prismui-Form-flexInner--label-left {
    > .prismui-Form-label {
      text-align: left;
    }
  }
  .prismui-Form-flexInner--label-right {
    > .prismui-Form-label {
      text-align: right;
    }
  }
}

.prismui-Autofill-popOver {
  border: none;
  min-width: px2rem(320px);
  max-width: px2rem(640px);

  > .prismui-Panel {
    margin: 0;
  }
}
