$amis-theme-name: null !default;
$amis-palette-brand-400: #144bcc !default;
$amis-palette-brand-500: #2468f2 !default;
$amis-palette-brand-600: #528eff !default;
$amis-palette-neutral-text-inverse: #fff !default;

@import './layers';
@import './base';
@import './legacy-aliases';
@import './theme-overrides';
