@layer prismui.tokens {
  :root,
  .AMISCSSWrapper {
    --button-primary-default-top-border-color: var(
      --prismui-Button-primary-border-color
    );
    --button-primary-default-left-border-color: var(
      --prismui-Button-primary-border-color
    );
    --button-primary-default-right-border-color: var(
      --prismui-Button-primary-border-color
    );
    --button-primary-default-bottom-border-color: var(
      --prismui-Button-primary-border-color
    );
    --button-primary-default-bg-color: var(--prismui-Button-primary-bg);
    --button-primary-hover-top-border-color: var(
      --prismui-Button-primary-hover-border-color
    );
    --button-primary-hover-left-border-color: var(
      --prismui-Button-primary-hover-border-color
    );
    --button-primary-hover-right-border-color: var(
      --prismui-Button-primary-hover-border-color
    );
    --button-primary-hover-bottom-border-color: var(
      --prismui-Button-primary-hover-border-color
    );
    --button-primary-hover-bg-color: var(--prismui-Button-primary-hover-bg);
    --button-primary-active-top-border-color: var(
      --prismui-Button-primary-active-border-color
    );
    --button-primary-active-left-border-color: var(
      --prismui-Button-primary-active-border-color
    );
    --button-primary-active-right-border-color: var(
      --prismui-Button-primary-active-border-color
    );
    --button-primary-active-bottom-border-color: var(
      --prismui-Button-primary-active-border-color
    );
    --button-primary-active-bg-color: var(--prismui-Button-primary-active-bg);
    --button-primary-default-font-color: var(--prismui-Button-primary-color);
    --button-primary-hover-font-color: var(--prismui-Button-primary-hover-color);
    --button-primary-active-font-color: var(--prismui-Button-primary-active-color);
  }
}
