:root,
.AMISCSSWrapper {
  --colors-brand-4: var(--prismui-palette-brand-400);
  --colors-brand-5: var(--prismui-palette-brand-500);
  --colors-brand-6: var(--prismui-palette-brand-600);
}

@if $prismui-theme-name != null {
  [data-prismui-theme='#{$prismui-theme-name}'] {
    --colors-brand-4: var(--prismui-palette-brand-400);
    --colors-brand-5: var(--prismui-palette-brand-500);
    --colors-brand-6: var(--prismui-palette-brand-600);
  }
}
