:root,
.AMISCSSWrapper {
  --colors-brand-4: var(--amis-palette-brand-400);
  --colors-brand-5: var(--amis-palette-brand-500);
  --colors-brand-6: var(--amis-palette-brand-600);
}

@if $amis-theme-name != null {
  [data-amis-theme='#{$amis-theme-name}'] {
    --colors-brand-4: var(--amis-palette-brand-400);
    --colors-brand-5: var(--amis-palette-brand-500);
    --colors-brand-6: var(--amis-palette-brand-600);
  }
}
