@if $amis-theme-name != null {
  @layer amis.tokens {
    [data-amis-theme='#{$amis-theme-name}'] {
      --amis-palette-brand-400: #{$amis-palette-brand-400};
      --amis-palette-brand-500: #{$amis-palette-brand-500};
      --amis-palette-brand-600: #{$amis-palette-brand-600};
      --amis-palette-neutral-text-inverse: #{$amis-palette-neutral-text-inverse};
      --amis-color-brand-bg: var(--amis-palette-brand-500);
      --amis-color-brand-hover-bg: var(--amis-palette-brand-600);
      --amis-color-brand-active-bg: var(--amis-palette-brand-400);
      --amis-color-brand-border: var(--amis-palette-brand-500);
      --amis-color-brand-hover-border: var(--amis-palette-brand-600);
      --amis-color-brand-active-border: var(--amis-palette-brand-400);
    }
  }

  @layer amis.theme {
    [data-amis-theme='#{$amis-theme-name}'] {
      --amis-theme-name: '#{$amis-theme-name}';
    }
  }
}
