// 内容放大
.prismui-hoverZoomIn-show,
.prismui-hoverZoomIn:hover {
  transform: scale(1.05);
}

// 内容缩小
.prismui-hoverZoomOut-show,
.prismui-hoverZoomOut:hover {
  transform: scale(0.95);
}

// 阴影增强
.prismui-hoverShadow-show,
.prismui-hoverShadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// 发光边框
.prismui-hoverBorder-show,
.prismui-hoverBorder:hover {
  box-shadow: 0 0 10px var(--colors-brand-5),
    0 0 10px var(--colors-brand-5) inset;
}

// 内容上升
.prismui-hoverUp-show,
.prismui-hoverUp:hover {
  transform: translateY(-4px);
}

// 内容下降
.prismui-hoverDown-show,
.prismui-hoverDown:hover {
  transform: translateY(4px);
}

// 向左滑动
.prismui-hoverLeft-show,
.prismui-hoverLeft:hover {
  transform: translateX(-4px);
}

// 向右滑动
.prismui-hoverRight-show,
.prismui-hoverRight:hover {
  transform: translateX(4px);
}

// 内容翻转
.prismui-hoverFlip-show,
.prismui-hoverFlip:hover {
  transform: rotateY(180deg);
}

// 闪烁
@keyframes hoverFlash {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

// 抖动
@keyframes hoverShake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}
